.bg-primer{
    background-color: rgb(30, 1, 77);
}
.left {
    width: 100%;
    max-width: 250px;
}
div#sidebar {
    height: 100vh;
}
.right {
    width: calc(100% - 250px);
}
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: calc(100% - 250px);
}
header#nav-header {
    box-shadow: 0 0px 10px 4px #3e087c33;
}
.wrp-contain{
    box-shadow: 0 0px 10px 4px #3e087c33;
    padding: 1em;
    border-radius: 6px;
}